/* Daily Dog stylesheet */

.header {
    grid-area : hd;
    background-color : lightgray;
    text-align : center;
    font-family : "URW Chancery L", cursive;
    font-size : 1.5em;
}

.footer {
    grid-area : ft;
    background-color : lightgray;
}

.content {
    grid-area : ct;
    background-color : grey;
}

.sidebar {
    grid-area : sb;
}

.page-grid {
    display : grid;
    grid-auto-rows : auto;
    grid-template-columns : repeat(9, 1fr);
    grid-template-areas : 
        "hd hd hd hd hd hd   hd hd hd"
        "ct ct ct ct ct ct   sb sb sb"
        "ft ft ft ft ft ft   ft ft ft";
    grid-gap : 0.25em;
}

.headline {
    font-size : 2.15em;
}

.img-left {
    float : left;
}

.img-right {
    float : right;
}

.form-grid {
    display : grid;
    grid-template-columns : auto auto;
    grid-gap : 0.75em 0.1em;
    justify-items : left;
    margin : 1em;
}